header div.register.medium{ display: none; }
#header nav ul li a[href="songcircle.php"]{ color: #7CC919; }
#header nav ul li a[href="songcircle.php"]:before{
	content:url('images/arrows_and_lines/navActive_arrow.png');
	position:absolute; left:-15px; top:3px;
}
article#songcircle{
height: 405px;
/*border: 1px solid #ccc;*/
font-size:1.2em;
padding-top: 48px;
padding-left: 18.2%;
padding-right: 13.9%;
}
article section{
float:left; width:55%;
}
article#songcircle h1{ display: none; }
article#songcircle h2{
font-size: 2.8em;
}
article#songcircle h2 + p{ margin-top: 48px;}
article#songcircle p{
line-height: 1.4;
margin-top: 16px;
}

aside#schedule{
width:31%;
height:387px;
float:right;
border:2px solid #7CC919;
margin-top: 15px;
border-radius: 12px;
}
aside#schedule h3{
margin:36px 0 48px 53px;
font-size: 1.2em;
}
aside#schedule p{
margin-left: 53px;
font-size: 0.8em;
font-style: italic;
}
footer{width:1600px; bottom:0;}
span.register{ text-decoration: underline; transition-duration: .250s;}
span.register:hover{ cursor: pointer; color:#7CC919; transition-duration: .250s; }

#songcircle section img{
	margin-top:2em;
}
#songcircle section img:hover{
	margin-top:2em;
	content: url('../images/buttons/register_m_hover.png');
  position: relative;
  top:-1px; left:-1px;
	cursor: pointer;
}
